<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org">
<head>
<title th:text="'Details zu ' + ${person.getVollerName()}"></title>
<meta charset="utf-8" >
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" type="text/css" href="/personalhierarchie-style.css">
</head>
<body>

    <h1>
        Details: 
        <span th:text="${person.getVollerName()}"></span>
    </h1>

    <p>
        <span class="fett">Vorname: </span>
        <span th:text="${person.getVorname()}"></span><br>
    </p>
    <p>
        <span class="fett">Nachname: </span>
        <span th:text="${person.getNachname()}"></span><br>
    </p>    

    <div th:if="${person.getVorgesetzter()} != null">
        <p>
            <span class="fett">Direkter Vorgesetzter: </span>
            <a th:href="@{/app/person/{id}(id=${person.getVorgesetzter().getId()})}">
                <span th:text="${person.getVorgesetzter().getVollerName()}"></span>
            </a>            
        </p>
    </div>
    <br>

    <p>
        <span class="fett">Vorgesetzte:</span>
        &nbsp;
        <span th:each="vorgesetzter : ${listeDerVorgesetzten}">
            <a th:href="@{/app/person/{id}(id=${vorgesetzter.id})}">
                <span th:text="${vorgesetzter.getVollerName()}"></span>
            </a>
            &nbsp;
        </span>    
    </p>
    
</body>
</html>